* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: normal;
	list-style: none;
}

body {
	font-family: Cantarell;
}

.fullwidth {
	width: 100%;
}

.halfcols td {
	width: 50%;
}

#bill {
	border-collapse: collapse;
}

#bill th {
	text-align: center;
}

#bill th, #bill td {
	border: 1px solid;
}

table#header {
	text-align: center;
}

hr {
	border: 0;
	height: 4em;
}
